* {
    box-sizing: border-box;
}

@font-face {
    font-family: caveat;
    src: url('/fonts/Caveat-Regular.ttf')
}

@font-face {
    font-family: openSans;
    src: url('/fonts/OpenSansCondensed-Light.ttf')
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    height: 75%;
    width: 100%;
    padding: 1.8rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 231, 234);
}

.navbar {
    background-color: rgb(255, 231, 234)!important;
    border-bottom: 1px solid black;
    padding: 1.5rem;
}

.navbar-brand {
    font-family: caveat;
    font-size: 3rem;
}

.main-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.copy-img {
    width: 12%;
    margin-left: 15px;
    ;
}

.loc-info {
    padding-bottom: 20px;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: openSans;
}

.loc-header {
    font-size: 3rem;
    font-weight: 700;
}

.copy {
    font-size: 2rem;
}

.adress {
    font-family: openSans;
    font-size: 3rem;
    font-weight: 400;
}

/**map**/

.map-container {
    height: 90%;
    width: 57%;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 10px;
}

.my-loc-btn {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    border-radius: 2px;
    border-width: .5px;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 99999999999;
    outline: none;
    bottom: 35px;
    left: 10px;
}

.my-loc-btn img {
    width: 100%;
    object-fit: cover;
}

/**weather**/

.weather {
    width: 37%;
    height: 90%;
    border: 1px solid #292D3C;
    background-color: rgb(254, 243, 252);
    border-radius: 10px;
    font-family: OpenSans;
}

.weather-head {
    padding-left: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(255, 231, 234);
    border-bottom: 1px solid black;
}

.desc {
    padding: 30px;
}

/* footer */

.footer {
    border-top: 1px solid black;
    background-color: rgb(255, 231, 234);
    display: flex;
    height: 10%;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px) {
    main {
        height: 65rem;
        flex-direction: column;
    }
    .loc-info {
        flex-direction: column;
        align-items: flex-start;
    }
    .main-container {
        flex-direction: column-reverse;
        align-items: center;
    }
    .weather {
        height: 40%;
        margin-top: 20px;
    }
    .map-container {
        height: 60%;
        width: 80%;
    }
}